<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
         <%=title%>
    </title>
</head>
<body>
    <button id="myBtn">Click</button>
    <%- include('partials/navbar') %>
    <% let name= 'Yasin'  %>     
     <h1>Hello From Server</h1>
     <p> 
        <%=name%>
     </p>
     <ul>
        <% for(let i=0;i<myArr.length;i++){  %>
            <li> <%=myArr[i].id %>  </li>
        <% } %>
    </ul>

    <% myArr.forEach((item,index )=>{ %>
        <p> <%=index %> - <%=item.id %>  </p>
    <% }) %>

        <script src="assets/client.js"></script>

</body>
</html>